<%- layout('layouts/boilerplate') %>
  <header class="m-4 mx-auto">
    <h1>Atención al cliente</h1>
  </header>
  <hr>
  <main class="my-4 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="card-body my-2">
          <h5 class="card-title">Teléfono:</h5>
          <p class="card-text">811-123-4567
          </p>
      </li>
      <li class="list-group-item">
        <div class="card-body my-2">
          <h5 class="card-title">Correo electrónico:</h5>
          <p class="card-text">qpassnl@hotmail.com
          </p>
      </li>
      <li class="list-group-item">
        <div class="card-body my-2">
          <h5 class="card-title">Ubicación:</h5>
          <p class="card-text">Avenida Fundidora y, Adolfo Prieto S/N, Obrera, 64010 Monterrey, N.L.
          </p>
      </li>
    </ul>
    <div class="mt-4">
      <h2 class="h4">Contacto.</h2>
      <div class="h5">José Humberto R. Saucedo Rosales</div>
      <div>Coordinador de Tecnología de la Información</div>
      <ul class="list-group mt-2">
        <li class="list-group-item"><span class="fw-bold">Teléfono:</span> (52) +81 46.46.91.00 EXT 4504</li>
        <li class="list-group-item"><span class="fw-bold">Teléfono móvil:</span> 81 13.21.16.27 </li>
        <li class="list-group-item"><span class="fw-bold">Correo electrónico:</span>
          humbertosaucedo@operadoravial.com</li>
        <li class="list-group-item"><span class="fw-bold">Página web:</span> <a
            href="http://operadoravial.com">http://operadoravial.com</a></li>
      </ul>
    </div>
  </main>