<%- layout('layouts/index-boilerplate') %>
  <div class="bg-image text-center border-top border-5 py-5 px-3">
    <p class="py-2"></p>
    <h1 class="display-1 fw-bold index-header mb-3">QPass</h1>
    <div
      class="h4 col-7 mx-auto border-bottom border-start border-5 border-dark bg-white py-3 px-5 very-rounded shadow-lg mb-4">
      <p class="display-4">Viaja sin pausas.</p>
      Con las
      tarjetas de
      saldo
      digital QPass, podrás pagar en
      las casetas de cobro de una manera rápida y sencilla.
      <div class="d-flex mx-auto mt-4 justify-content-evenly">
        <a href="/signup"
          class="btn btn-primary px-4 py-3 btn-lg col-3 border-bottom border-start border-dark border-5">Regístrate</a>
        <a href="/login"
          class="btn btn-secondary px-4 py-3 btn-lg col-3 border-bottom border-start border-dark border-5">Inicia
          sesión</a>
      </div>
    </div>
  </div>