<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido a QPass</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary bg-opacity-50">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">QPass</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="usuarios.html">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tarjetas.html">Tarjetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vehiculos.html">Vehiculos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="m-4">
    <h1 class="text-center">Bienvenido a QPass</h1>
  </header>
  <hr>
  <main class="my-4">
    <div class="d-flex justify-content-evenly">
      <a href="#" class="card col-2">
        <img src="placeholder_usuario.png" class="card-img-top" alt="Icono de usuario" />
        <div class="body">
          <div class="btn btn-primary btn-lg w-100">Usuario</div>
        </div>
      </a>
      <a href="login_administrador.html" class="card col-2">
        <img src="placeholder_usuario.png" class="card-img-top" alt="Icono de administrador" />
        <div class="body">
          <div class="btn btn-secondary btn-lg w-100">Administrador</div>
        </div>
      </a>
    </div>
  </main>
  <footer class="py-3 mt-5">
    <ul class="nav justify-content-center border-bottom pb-2 mb-3">
      <li class="nav-item"><a href="informacion-general.html" class="nav-link px-3 text-muted">Información general</a>
      </li>
      <li class="nav-item"><a href="atencion-al-cliente.html" class="nav-link px-3 text-muted">Atención al cliente</a>
      </li>
      <li class="nav-item"><a href="preguntas-frecuentes.html" class="nav-link px-3 text-muted">Preguntas frecuentes</a>
      </li>
      <li class="nav-item"><a href="quejas-y-sugerencias.html" class="nav-link px-3 text-muted">Quejas y sugerencias</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2022 VIAS, ADMINISTRACIÓN Y LOGÍSTICA, S.A. DE C.V.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>