<%- layout('layouts/boilerplate') %>
  <header class="m-4 mx-auto">
    <h1>Información general</h1>
  </header>
  <hr>
  <main class="my-4 mx-auto text-justify">
    <p>El sistema esta dirigido a los usuarios que atraviesan por las diferentes carreteras que están a nombre de la
      empresa VIAS, ADMINISTRACIÓN Y LOGISTICA. S.A. DE C.V y esta dirigido a los empleados de la empresa para tener una
      mejor y más fácil interacción con los usuarios para brindar asistencia y un mejor servicio.</p>
    <p>
      VIAS, ADMINISTRACIÓN Y LOGISTICA. S.A. DE C.V. (Vial Infraestructuras), es una empresa filial de Roadis encargada
      de las actividades de la operación, explotación, conservación y mantenimiento de proyectos carreteros en México.
      La empresa está ubicada en la Autopista km 82 parque industrial milimex, 66390 Monterrey, Nuevo León.
    </p>

    <div class="mt-4">
      <h2 class="h4">Contacto.</h2>
      <div class="h5">José Humberto R. Saucedo Rosales</div>
      <div>Coordinador de Tecnología de la Información</div>
      <ul class="list-group mt-2">
        <li class="list-group-item"><span class="fw-bold">Teléfono:</span> (52) +81 46.46.91.00 EXT 4504</li>
        <li class="list-group-item"><span class="fw-bold">Teléfono móvil:</span> 81 13.21.16.27 </li>
        <li class="list-group-item"><span class="fw-bold">Correo electrónico:</span>
          humbertosaucedo@operadoravial.com</li>
        <li class="list-group-item"><span class="fw-bold">Página web:</span> <a
            href="http://operadoravial.com">http://operadoravial.com</a></li>
      </ul>
    </div>
  </main>