<%- layout('layouts/boilerplate') %>
  <header class="m-4 mx-auto">
    <h1>Preguntas frecuentes</h1>
  </header>
  <hr>
  <main class="my-4 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="card-body my-2">
          <h5 class="card-title">¿Cuál es el costo del servicio?</h5>
          <p class="card-text">El costo del servicio se le brinda a los trabajadores activos de la empresa.
          </p>
      </li>
      <li class="list-group-item">
        <div class="card-body my-2">
          <h5 class="card-title">¿Cuál es su enfoque?</h5>
          <p class="card-text">Ser de ayuda para los trabajadores en la carretera.
          </p>
      </li>
      <li class="list-group-item">
        <div class="card-body my-2">
          <h5 class="card-title">¿Cuáles son sus horarios de atención?</h5>
          <p class="card-text">9:00 AM a 8:00 PM.
          </p>
      </li>
    </ul>
  </main>