<%- layout('layouts/boilerplate') %>
  <div class="container">
    <div class="form-container">
      <a class="return" href="/">&#8592; Atr치s</a>
      <div class="form-container border px-4 pb-4 rounded mt-1">
        <h1 class="my-3">Inicio de sesi칩n</h1>
        <form class="form needs-validation" action="/login" method="POST" novalidate>
          <div class="mb-3 form-child">
            <label for="username" class="form-label label-required fw-bold">Nombre de usuario:</label>
            <input id="username" name="username" class="form-control" placeholder="Ejemplo: luisochoa85" required>
          </div>
          <div class="form-child">
            <label for="password" class="form-label label-required fw-bold">Contrase침a:</label>
            <input type="password" name="password" id="password" class="form-control"
              placeholder="Introduzca su contrase침a..." autocomplete="off" minlength="5" maxlength="50" required>
            <button class="btn btn-primary mt-3">Ingresa</button>
        </form>
      </div>
    </div>
  </div>